<div class="container" id="about">
	<h1>About freeSwim</h1>
	<h3>Vision</h3>
	<p>Our vision/misison statement goes here.</p>
	<h3>Background</h3>
	<p>Our background goes here</p>
	<h3>Team</h3>
	<p>Our team info goes here. keep it as anonymous as possible. maybe just talk about how we all went to dev boot camp, see the world differently, etc...</p>
</div>