<div class="container" id="about">
	<h1>About us</h1>
	<h3>Vision</h3>
	<p>Great product development exists at the intersection of happiness and efficiency.</p>
	<h3>Background</h3>
	<p>Whether partnering with clients to bring their vision to life or introducing our own products to the world, we believe the creation of successful applications is a collaborative process that is a reflection of its human creators.</p>
	<h3>Team</h3>
	<p>Our careers have spanned: Media, Technology, Finance, Marketing</p>
	<p> We all met <a href="http://devbootcamp.com">here</a>, teamed up, and have set out to continue building beautiful and meaningful things.</p>
</div>