<div class="container" id ="blog">
	<div class="blog_post">
		<div class="blog_header">
			<div class="blog_image">
				<img src="assets/blog_image_budgetCalculator.png"/>
			</div>
			<div class="blog_title">Personal Finance - Less Is More
			<p>How apps like Daily are doing more by doing less</p>
			</div>
		</div>
		<div class="content_header">
			Posted by Alex Eisenach - active freeSwim Contributor <br/>
			April 8, 2014
		</div>
		<p>Let's face it - everyone has a reason to budget.  Whether you're succesfully retired or just starting school, tracking your personal finance is the only way to reach financial goals.  This probably explains why there are literally thousands of personal finance apps available for download.  While it's no secret that a few apps (namely Mint) have come to dominate the space of personal finance, more primitive apps like <a href="/products">Daily Budget Calculator</a> are making an argument for why less is more in the world of personal finance.</p>

		<p>Daily certainly deviates from the status quo of today's "top notch" budget apps.  Does it automatically sync with your bank accounts? No.  Does it do auto categorization? No.  Does it send you timely alerts? No.  So why on earth would anyone pay the extra $0.99 for something that's not seemingly on par with the industry leaders?</p>

		<p>Talk to anyone that actually uses Mint and the answers will become obvious.  Retrieving information from your personal bank account isn't bulletproof, and the automatic categorizing isn't the most accurate (making it extremely frusterating for the penny pinchers).  Not to mention the fact that getting started is about as overwhelming as filling out your tax return.  Creating your account, entering all your bank information, setting up your goals, etc.  Some users may appreciate these features, but there is no flexibility for those who don't need all the bells and whistles.</p>

		<p>And then there's Daily.  With a simple interface, Daily calculates & displays your daily budget for the remainder of the month.  You have to track your own incomes/expenses, but Daily makes it very easy and intuitive (besides, what else are you going to do while you wait for your receipt at checkout?).  Create a monthly budget and know exactly how much you can spend to reach your monthly financial goals.</p>

		<p>At its core, Daily is very simple.  However, the real beauty of this app is the flexibility it gives users.  The budgeting feature of Daily lets you make your personal finance as complicated or as simple as you'd like.  YOU decide how to break down your budget.  YOU decide how many categories to track.  Unlike the alternatives, you aren't pigeonholed into a pre-defined structure for organizing your money.</p>

		<p>Not to mention the overall premis behind Daily.  It's goal oriented.  It looks forward. You set a budget and it tells you TODAY what needs to be done to reach your financial goals by month's end.  It may not aggregate your investment accounts with your personal bank accounts or automatically categorize your expenses, but it quickly tells you the bottom line.  That is, how much you can spend right now and still be in line with your goals.
		<p>

		<p>In a nutshell, Daily significantly simplifies the concept of budgeting.  Yes, a little more work is required on your side (tracking your own expenses) but it's a bulletproof app that delivers bulletproof results. It's elegantly simple and provides great flexibility for its users.  Everyone has a reason to use Daily.  While many will remain married to the more conventional options (Mint), those that explore Daily will see the benefits of less is more.  Besides, with all the recent SSL security breaches, who really wants to be transmitting more bank data anyways?</p>

		<p>-Spend a dollar, save thousands!</p>

	</div>
	<div class="ads">
	</div>
</div>