<div class="container">
	<div class="blog_post">
		<div class="blog_header">
			<div class="blog_image">
				<img src="http://nvie.com/img/postimgs/py-vs-ruby.png"/>
			</div>
			<div class="blog_title">Python > Ruby
			<p>A true comparison of two great languages.</p>
			</div>
		</div>
		<div class="content_header">
			Posted by Alex Eisenach - active freeSwim Contributor <br/>
			April 8, 2014
		</div>

	</div>
	<div class="ads">
	</div>
</div>