<div class="container">
	<div class="blog_post">
		<div class="blog_header">
			<div class="blog_image">
			</div>
			<div class="blog_title">Python > Ruby</div>
		</div>
		<div class="content_header">
			<img/>
		</div>
		this is my blog post
	</div>
</div>