<div class="container" id="clients">
	<h1>Previous Work</h1>
	<div class="client_frame">
		<a href="https://itunes.apple.com/us/app/daily-budget-calculator/id845272077?mt=8"><img src="assets/icon.png"/ style="height:80px;width:80px;padding:15px;"></a>
		<ul>
			<li>Features</li>
			<li>Custom iOS app</li>
			<li>Design Consulting & Implementation</li>
			<li>Graphic Design</li>
		</ul>
		<a href=""https://itunes.apple.com/us/app/daily-budget-calculator/id845272077?mt=8"" class="url_link">Visit</a>
	</div>
	<div class="client_frame">
		<a href="http://www.vinylbutton.com"><img src="http://vinylbutton.com/logo.png"/></a>
		<ul>
			<li>Features</li>
			<li>Custom Music Player</li>
			<li>Integrated with SoundCloud API</li>
			<li>Custom CMS implemented</li>
		</ul>
		<a href="http://www.vinylbutton.com" class="url_link">Visit</a>
	</div>
	<div class="client_frame">
		<a href="https://itunes.apple.com/us/app/track-star-gps-friend-tracker/id881569701?ls=1&mt=8"><img src="assets/track_star_web_icon.png" style="height:80px;width:80px;padding:15px;"/></a>
		<ul>
			<li>Features</li>
			<li>Custom ioS App</li>
			<li>Back end support rails app</li>
			<li>Graphic Design</li>
		</ul>
		<a href="https://itunes.apple.com/us/app/track-star-gps-friend-tracker/id881569701?ls=1&mt=8" class="url_link">Visit</a>
	</div>
	<div class="client_frame">
		<a href="http://www.verofinancialgroup.com"><img src="http://www.verofinancialgroup.com/assets/logo.png"/></a>
		<ul>
			<li>Features</li>
			<li>Custom Ruby Web App</li>
			<li>Graphic Design</li>
			<li>Mailers</li>
		</ul>
		<a href="http://www.verofinancialgroup.com" class="url_link">Visit</a>
	</div>
	<div class="client_frame">
		<a href="http://rjwheaton.net"><img class="add_padding" src="http://rjwheaton.net/logo.png"/></a>
		<ul>
			<li>Features</li>
			<li>Custom Website</li>
			<li>Graphic Design</li>
		</ul>
		<a href="http://rjwheaton.net" class="url_link">Visit</a>
	</div>

	
</div>