<div id="landing_image">
	<div class="container" style="text-align:center;">
		<h1>Big pond. Smart fish.</h1>
		<h4>Why are you wasting your time reading this thin fine print! <br/>It's just the beta!</h4>
	</div>
	<img id="landing_page_image" src="assets/landing_page_image.png" />
</div>
<div id="sub_landing">
	<div class="container" style="text-align:center;">
		<div class="image_box" id="image_box_1" >
				<img class="iphone_white" src="assets/iphone_white.png" />
				<h2>iOS Apps</h2>
				<p>Have an app idea? Our iOS developer team helps build and launch iOS products.</p>
				<a href="/services">Learn More ></a>
		</div>
		<div class="image_box" id="image_box_2" style="background-color:#086ca2">
			<div class="pattern2">
					<h2>Web Apps</h2>
					<p>Full stack Ruby on Rails web development.</p>
					<a href="/services">Get Started ></a>
			</div>
		</div>
		<div class="image_box" id="image_box_3" style="background-color:#8f8f8f">
			<img class="iphone_white" src="assets/freeswimsocial.png" />
			<h2>Social Media</h2>
			<p>Campaigns, consulting, maintenance.  Work with us to effectively market your app.</p>
			<a href="/servieces">Explore ></a>
		</div>
	</div>
</div>
