<div id="landing_image">
	<div class="container" style="text-align:center;">
		<h1>Big pond. Smart fish.</h1>
		<h4>Why are you wasting your time reading this thin fine print! <br/>It's just the beta!</h4>
	</div>
	<img id="landing_page_image" src="assets/landing_page_image.png" />
</div>
<div id="sub_landing">
	<div class="container" style="text-align:center;">
		<div class="image_box" id="image_box_1" >
			<h2>iOS Apps</h2>
			<p>Have an app idea? Our iOS developer team consists of one person but it's all good.</p>
		</div>
		<div class="image_box" id="image_box_2" style="background-color:#086ca2">
			<h2>Web Apps</h2>
			<p>Realize full scale web apps using all the cedar from all the stacks.</p>
		</div>
		<div class="image_box" id="image_box_3" style="background-color:#8f8f8f">
			<h2>Social Media</h2>
			<p>It's a bird.  It's a plane.  It's the most ambiguous service we offer.</p>
		</div>
	</div>
</div>
