<div class="container" id="about">
<h1>Pupular Privacy Policy:</h1>


<p>When a user flips on the green wagging switch in the upper right corner of the Home, Pack, Search, or Messages page, their location is uploaded to our server.  Users who receive and approve Pack Request notifications within the Messages page are then a part of the sending user's Pack and the sender is a part of the receiving user's pack.</p>

<p>Pack members can see each other's location on a map only when the user being tracked has flipped their green wagging switch to the right. This type of sharing occurs in a one-to-pack relationship. When a user flips their wagging switch back to the original left position, they are no longer able to be tracked by the rest of their pack. </p>

<p>When a user wants to block another user who is a member of their pack, they must swipe left on the other user's name within the Pack page, and when the red Block button appears, press that button.  Once a user is blocked, they are no longer a member of the blocking user's pack, can no longer see the location of the user that blocked them, and the blocker can no longer see the location of the blocked user.</p>

<p> Location data is only used for the purposes of providing these locations to approved pack members.</p> 
</div>