<div class="container">
	<h1>Our Products</h1>
	<div class="product">
		<div class="product_header">
			<img src="assets/icon.png"/>
			<div class="product_features">
				<h3>Daily - Budget Calculator</h3>
				<ul>
					<li>Platform: iOS</li>
					<li>Category: Budget/Personal Finance</li>
					<li>Author: Alex Eisenach</li>
				</ul>
			</div>
			<a class="itunes_link" href="https://itunes.apple.com/us/app/daily-budget-calculator/id845272077?mt=8"><img src="assets/apple_store_link.png" /></a>
		</div>
		<div class="product_description">
			<h3>Description</h3>
			<p>A budget tool that simplifies personal finance.  Set your monthly budget, track incomes and expenses, and let Daily do the rest.  Know on a daily basis where you stand with the freeSwim daily budget calculator.</p>
		</div>
		<h3>User Guide</h3>
		<div class="storyboard">
			<img class="screen_shot" src="assets/freeSwimbudgetScreenShot.png">
			<div class="storyboard_description">
				<h4>The Home Screen</h4>
				<p>The home screen will always display your daily budget for the remainder of the month. Your daily budget reflects incomes,expenses, and anything you've budgeted for the month.</p>
				<p>
			</div>
		</div>
		<div class="storyboard">
			<img class="screen_shot" src="assets/freeSwimscreenshot2.png">
			<div class="storyboard_description">
				<h4>Setting Your Budget</h4>
				<p>Your budget can be as detailed or as simple as you make it.  To create a category, simply hit the add button on the main budget screen.  Select a name for your category (ex: "Savings") and the amount you want to budget for the current month.</p>
				<p>After creating a category, Daily will factor in your category expense to the daily budget calculator.</p>
				<p>Change the budget for a category at any time by selecting the category from your budget list and adjusting the amount.</p>

			</div>
		</div>
		<div class="storyboard">
			<img class="screen_shot" src="assets/freeswimscreenshot3.png">
			<div class="storyboard_description">
				<h4>Tracking Incomes & Expenses</h4>
				<p>There are several ways to track incomes & expenses.  From the home screen, press the +/- to quickly record a new transaction. Enter the amount and the description.  Note: For expenses, if your description matches one of your budgetd categories, the expense will be factored into your budget</p>
				<p>You can track your budgeted expenses from the main budget menu.
					<ul>
						<li><div class="color_box" style="background-color:red;"></div>You are over budget</li>
						<li><div class="color_box" style="background-color:gold;"></div>You have reached your budget</li>
						<li><div class="color_box" style="background-color:green;"></div>You are under budget</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>