<div class="container">
	<h1>Our Products</h1>
	<h3><img src="assets/icon.png"/>Daily</h3>
	<p>Daily is a daily budget calculator available for ioS.</p>
	<p>Set monthly budgets, track expenses, and know what you can spend TODAY in order
		to reach your financial goals.  Why forecast months in ahead when today's decisions are what counts?</p>

</div>