<div class="container" id="services">
	<h1>Services</h1>
	<h3>ioS Apps</h3>
	<p>Work with our dev team to create stunning ioS apps.  Go beyond the desktop by 
		exploring the benefits of custom app development.</p>
	<h3>Web Apps</h3>
	<p>We are a full stack ruby shop.  This means we use one of the fastest and most state of the art web frameworks to help you realize your web app vision.   No project is too big.  Our developers were <a href="http://www.devbootcamp.com">built on rails</a> and bring state of the art techniques to every project.</p>
	<h3>Social Media</h3>
	<p>Developing your app is only half the battle.  It takes a lot of strategic marketing to be heard in today's digital space.  Our online marketing and social media department works in hand with our dev practice to maximize your app's exposure.</p>
</div>