.blog_post {
	width:700px;
	float:left;
}

.ads {
	width:400px;
	background-color:#e8e8e8;
	height:1000px;
	float:right;
}

.blog_header {
	width:100%;
	height:auto;
}
.blog_image {
	width:250px;
	height:220px;
	float:left;
}
.blog_title {
	color:red;
	float:left;
	width:440px;
	padding-left:10px;
	font-size:40px;
	color:#474747;
	font-weight:200;
}
.blog_title p {
	font-size:16px;
}
.content_header{
	width:100%;
	padding:10px 0px;
	height:auto;
	background-color:#f5f5f5;
	display:block;
	clear:both;
	font-size:11px;
	color:#a0a0a0;
}

.content_header img {
	float:left;
	width:80px;
	height:80px;
	background-color:red;
}