<div id="footer">
	<div class="container">
			<ul>
				<li><span class="footer_label">Services</span></li>
				<li><a href="ios.html.erb">iOS Apps</a></li>
				<li><a href="webapps.htmk.erb">Web Apps</a></li>
				<li><a href="consulting.html.erb">Support</a></li>
				<li><a href="socialmedia.html.erb">Social Media</a></li>

			</ul>
			<ul>
				<li><span class="footer_label">Our Story</span></li>
				<li><a href="ios.html.erb">Team</a></li>
				<li><a href="seo.html.erb">Background</a></li>
				<li><a href="webapps.htmk.erb">Vision</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Community</span></li>
				<li><a href="ios.html.erb">Blog</a></li>
				<li><a href="seo.html.erb">Partners</a></li>
				<li><a href="webapps.htmk.erb">Web Apps</a></li>
				<li><a href="consulting.html.erb">Consulting</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Follow</span></li>
				<li><a href="ios.html.erb">Blog</a></li>
				<li><a href="webapps.htmk.erb">Facebook</a></li>
				<li><a href="consulting.html.erb">Twitter</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Products</span></li>
				<li><a href="/products">Daily Budget Calculator</a></li>
			</ul>
	</div>
</div>
<div id="sub_footer">
	<div class="container" style="border-top:1px solid #e8e8e8;">
		Copyright 2014 Jown Town Corp. All Rights Reserved.
		<a href="#">Terms of Service</a>
		<a href="#">Privacy</a>
		<a href="#">Legal</a>

	</div>
</div>