<div id="footer">
	<div class="container">
			<ul>
				<li><span class="footer_label">Services</span></li>
				<li><a href="/services">iOS Apps</a></li>
				<li><a href="/services">Web Apps</a></li>
				<li><a href="/services">Social Media</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Our Story</span></li>
				<li><a href="/about">Team</a></li>
				<li><a href="/about">Background</a></li>
				<li><a href="/about">Vision</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Community</span></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/clients">Previous Work</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Follow</span></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="https://www.facebook.com/freeswimco">Facebook</a></li>
				<li><a href="https://www.twitter.com/freeswimco">Twitter</a></li>
				<li><a href="https://www.github.com/freeswim">Git Hub</a></li>
			</ul>
			<ul>
				<li><span class="footer_label">Products</span></li>
				<li><a href="/products">Daily Budget Calculator</a></li>
			</ul>
	</div>
</div>
<div id="sub_footer">
	<div class="container" style="border-top:1px solid #e8e8e8;">
		Copyright 2014 Free Swim Co. All Rights Reserved.
		<a href="#">Terms of Service</a>
		<a href="#">Privacy</a>
		<a href="#">Legal</a>

	</div>
</div>