<div id="header">
	<div class="container">
		<div id="logo"><a href="/"><img src="assets/freeswimlogo.png"></a></div>
		<ul id="navbar">
			<li><a href="/about">About</a></li>
			<li><a href="/clients">Clients</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<div id="right_nav">
			<div class="social_button">
				f
			</div>
			<div class="social_button">
				t
			</div>
			<div class="social_button">
				g
			</div>
		</div>
	</div>
</div>