<div id="header">
	<div class="container">
		<div id="logo"><a href="/">freeSWIM</a></div>
		<ul id="navbar">
			<li><a href="/about">About</a></li>
			<li><a href="/clients">Clients</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<div id="right_nav">
			<a class="social_button" href="https://www.github.com/freeswim" id="git_icon">
			</a>
			<a class="social_button" href="https://www.twitter.com/freeswimco" id="twitter_icon">
				
			</a>
			<a class="social_button" href="https://www.facebook.com/freeswimco" id="facebook_icon">
				
			</a>
		</div>
	</div>
</div>