<div id="header">
	<div class="container">
		<span id="logo"><a href="/">free swim</a></span>
		<ul id="navbar">
			<li><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<div id="right_nav">
			<div class="social_button">
				f
			</div>
			<div class="social_button">
				t
			</div>
			<div class="social_button">
				?
			</div>
		</div>
	</div>
</div>